* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: #fff;
  max-width: 1600px;
  position: relative;
}

.container {
  width: 1200px;
}

.section {
  padding: 94px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    min-width: 768px;
    max-width: 1199px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header {
    min-width: 1200px;
    max-width: 1200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header .header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header .header__main-title {
  line-height: 1.38;
  text-decoration: none;
  color: #2196F3;
  letter-spacing: 0.03;
  font-size: 26px;
  padding-top: 24px;
  padding-left: 15px;
  padding-bottom: 25px;
  padding-right: 83px;
}
.header .header__rest-title {
  line-height: 1.38;
  color: #212121;
}

.menu {
  display: none;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
  font-size: 14px;
  padding-left: 0px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.menu .menu__studio, .menu .menu__portfolio, .menu .menu__contacts {
  color: #212121;
  line-height: 1.38;
  text-decoration: none;
  letter-spacing: 0.03;
  position: relative;
}
.menu .menu__studio, .menu .menu__portfolio {
  margin-right: 60px;
}
.menu .menu__contacts {
  width: 51px;
}
.menu .menu__studio:hover, .menu .menu__portfolio:hover, .menu .menu__contacts:hover {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.underscore::after {
  position: absolute;
  display: block;
  top: 28px;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  cursor: unset;
  pointer-events: none;
}

.contact {
  display: none;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  font-size: 14px;
  padding-left: 0px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1199px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact .contact__email, .contact .contact__phone {
  color: #757575;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02;
}
.contact .contact__email {
  margin-right: 50px;
  margin-bottom: 10px;
}
.contact .contact__email a {
  text-decoration: none;
  color: #757575;
}
@media (min-width: 1199px) {
  .contact .contact__email {
    margin-bottom: 0;
  }
}
.contact .contact__email-icon, .contact .contact__phone-icon {
  width: 16px;
  height: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #757575;
}
.contact .contact__email a:hover, .contact .contact__phone:hover, .contact .contact__email-icon:hover, .contact .contact__phone-icon:hover {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request {
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/img16.jpg");
}
@media (min-width: 768px) and (max-width: 1199px) {
  .request {
    min-width: 768px;
    max-width: 1199px;
    width: 100%;
    background-size: auto;
  }
}
@media (min-width: 1200px) {
  .request {
    min-width: 1200px;
    max-width: 1600px;
    background-size: auto;
    width: 100%;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .request .request {
    background-image: url("../images/img16@2x.jpg 2x");
  }
}
.request .request__title {
  color: #fff;
  line-height: 1.38;
  letter-spacing: 0.06;
  font-size: 44px;
  margin-bottom: 40px;
  margin-top: 0;
}
.request .request__button {
  background-color: #2196F3;
  line-height: 1.87;
  color: white;
  letter-spacing: 0.06;
  padding: 10px 41px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-height: 609px;
  width: 450px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal .modal__button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
.modal .modal__button-close:hover {
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  height: 581px;
  width: 100%;
}
.form .form__title {
  color: #212121;
  width: 100%;
  height: 23px;
  font-weight: 700;
  size: 20px;
  line-height: 1.17;
  margin-top: 60px;
  text-align: center;
}
.form .form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 40px 10px 40px;
}
.form .form__label-categ {
  text-align: left;
}
.form .form__label-style {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}
.form .form__label-icon {
  position: absolute;
  top: 35px;
  left: 15px;
  fill: #212121;
}
.form .form__rules {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-left: 40px;
  white-space: nowrap;
  width: 397px;
  height: 24px;
  size: 14px;
  cursor: pointer;
}
.form .form__rules-label {
  position: absolute;
  padding-left: 25px;
  font-size: 12px;
}
.form .form__rules-label a {
  color: #2196F3;
}
.form .form__rules-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  padding-left: 17px;
}
.form .form__rules-icon {
  border: 1px solid #212121;
  position: absolute;
  top: 0px;
  left: 0px;
}
.form__rules-input:checked + .form__rules-icon {
  background-color: #2196F3;
  border: 1px solid #2196F3;
  fill: #2196F3;
  overflow: hidden;
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .form__rules-yes {
  width: 11px;
  height: 8px;
}
.form .form__label-style:focus + .form__label-icon {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .form__label-comment {
  border: 1px solid #212121;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
}
.form .form__label-style:focus-within, .form__label-comment:focus-within {
  border: 1px solid #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196F3;
  border-radius: 4px;
  outline: none;
}
.form .form__button {
  display: block;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #2196F3;
  cursor: pointer;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 30px auto;
}
.form .form__button-send {
  font-weight: 700;
  size: 16px;
  width: 48px;
  height: 30px;
}

.about {
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding: 60px 15px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .about {
    min-width: 768px;
    max-width: 1199px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .about {
    min-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.about .about__image, .about .about__image-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .about .about__image, .about .about__image-icon {
    -ms-flex-preferred-size: 47.5%;
        flex-basis: 47.5%;
  }
}
@media (min-width: 1200px) {
  .about .about__image, .about .about__image-icon {
    -ms-flex-preferred-size: 292.5px;
        flex-basis: 292.5px;
  }
}
.about .about__image-icon {
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 100%;
  height: 120px;
}
.about .about__title {
  color: #212121;
  line-height: 1.14;
  font-weight: 700px;
  letter-spacing: 0.03;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.about .about__description {
  color: #757575;
  line-height: 1.71;
  font-weight: 400px;
  letter-spacing: 0.03;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.job__title,
.team__title,
.partners__title {
  color: #212121;
  line-height: 1.16;
  letter-spacing: 0.03;
  font-size: 36px;
  font-weight: 700px;
  text-align: center;
}

.job {
  display: none;
  margin: 0 auto;
  padding-bottom: 94px;
}
@media (min-width: 1200px) {
  .job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.job .job__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  position: relative;
  padding-left: 0px;
}
.job .job__list-photo {
  display: block;
}
.job .job__list-label {
  position: absolute;
  text-align: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  margin: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 700;
}
.job .job__list-label-position {
  position: absolute;
  display: block;
  width: 370px;
  height: 16px;
  padding: 27px 94px;
}

.team {
  background-color: #F5F4FA;
  margin: 0 auto;
  padding: 30px 15px;
  min-width: 320px;
  max-width: 768px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team {
    min-width: 768px;
    max-width: 1199px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .team {
    min-width: 1200px;
    max-width: 1600px;
  }
}
.team .team__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-left: 0px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team .team__list {
    min-width: 768px;
    max-width: 1199px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .team .team__list {
    min-width: 1200px;
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team .team__list-element {
    -ms-flex-preferred-size: 47.5%;
        flex-basis: 47.5%;
  }
}
@media (min-width: 1200px) {
  .team .team__list-element {
    -ms-flex-preferred-size: 292.5px;
        flex-basis: 292.5px;
  }
}
.team .team__list-photo {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  margin: 0px;
}
.team .team__list-img {
  height: auto;
  width: 100%;
}
.team .team__list-name {
  color: #212121;
  line-height: 1.17;
  font-weight: 500px;
  font-size: 16px;
  letter-spacing: 0.03;
  text-align: center;
  margin-top: 30px;
}
.team .team__list-position {
  color: #757575;
  line-height: 1.17;
  font-weight: 400px;
  font-size: 14px;
  letter-spacing: 0.03;
  display: block;
  padding-top: 10px;
}

.social {
  padding-top: 16px;
  padding-bottom: 30px;
}
.social .social__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  padding-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}
.social .social__list-icon {
  fill: #afb1ba;
  border-radius: 50%;
  background-color: #fff;
  height: 44px;
}
.social .social__list-icon:hover {
  border-radius: 50%;
  background-color: #2196F3;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners {
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  padding: 30px 15px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .partners {
    min-width: 768px;
    max-width: 1199px;
  }
}
@media (min-width: 1200px) {
  .partners {
    min-width: 1200px;
  }
}

.partners__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1199px) {
  .partners__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.partners__list-element {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .partners__list-element {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
@media (min-width: 1200px) {
  .partners__list-element {
    -ms-flex-preferred-size: 196.5px;
        flex-basis: 196.5px;
    padding: 0;
  }
}

.partners__logo {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #AFB1B8;
}

.partners__logo:hover {
  border: 1px solid #2196F3;
  fill: #2196F3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__logo-size {
  width: 106px;
  height: 60px;
}

.footer {
  background-color: #2F303A;
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer {
    min-width: 768px;
    max-width: 1199px;
  }
}
@media (min-width: 1200px) {
  .footer {
    min-width: 1200px;
    max-width: 1600px;
  }
}
.footer .footer__section {
  padding: 60px 15px;
  margin: 0;
  min-width: 320px;
  max-width: 768px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer .footer__section {
    min-width: 768px;
    max-width: 1199px;
  }
}
@media (min-width: 1200px) {
  .footer .footer__section {
    min-width: 1200px;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer .footer__twosection {
    min-width: 768px;
    max-width: 1199px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  .footer .footer__twosection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 70px;
  }
}
.footer .footer__section-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer .footer__section-box {
    text-align: left;
  }
}
.footer .footer__title {
  margin: 0px;
}
.footer .footer__title-main {
  line-height: 1.38;
  letter-spacing: 0.03;
  font-size: 26px;
  margin-bottom: 20px;
  width: 145px;
  color: #2196F3;
  text-decoration: none;
}
.footer .footer__title-rest {
  color: #fff;
}
.footer .footer__address {
  color: #fff;
  line-height: 1.71;
  font-weight: 400px;
  letter-spacing: 0.03;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 9px;
}
.footer .footer__address-email, .footer .footer__address-phone {
  color: #fff;
  opacity: 60%;
  line-height: 1.17;
  font-weight: 400px;
  text-decoration: none;
  letter-spacing: 0.03;
}
.footer .footer__address-email {
  padding-bottom: 9px;
  padding-top: 9px;
}

.join__title,
.newsletter__title {
  font-weight: 700;
  color: #fff;
  line-height: 1.17;
  height: 16px;
  padding: 0;
  letter-spacing: 0.03;
}

.join {
  list-style-type: none;
}
.join .join__title {
  text-align: center;
}
@media (min-width: 1200px) {
  .join .join__title {
    text-align: left;
  }
}
.join .join__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.join .join__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin: 0;
  padding-left: 0px;
}
.join .join__social {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.join .join__social:hover {
  background-color: #2196F3;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 44px;
}

.newsletter {
  list-style-type: none;
}
@media (min-width: 1200px) {
  .newsletter {
    margin-left: 78px;
  }
}
.newsletter .newsletter__title {
  text-align: center;
}
@media (min-width: 1200px) {
  .newsletter .newsletter__title {
    text-align: left;
  }
}
.newsletter .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.newsletter .newsletter__label {
  position: relative;
  width: 358px;
  padding-right: 0;
  display: grid;
}
@media (min-width: 1200px) {
  .newsletter .newsletter__label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.newsletter .newsletter__email, .newsletter .newsletter__button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}
.newsletter .newsletter__email {
  width: 358px;
  height: 50px;
  color: #fff 0.6;
  background-color: #2F303A;
  padding-left: 16px;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .newsletter .newsletter__email {
    margin-right: 12px;
  }
}
.newsletter .newsletter__button {
  display: -webkit-inline-box;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .newsletter .newsletter__button {
    margin: 0;
  }
}
.newsletter .newsletter__button-text {
  color: #fff;
  width: 82px;
  height: 30px;
  font-weight: 700;
  letter-spacing: 0.06;
  line-height: 1.88;
  padding-left: 32px;
}
.newsletter .newsletter__button-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 30px;
}

.mobile__toggle {
  width: 40px;
  height: 40px;
  margin-top: 18px;
  border: none;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .mobile__toggle {
    display: none;
  }
}

.mobile__toggle-icon {
  width: 40px;
  height: 40px;
}

.mobile__toggle-icon:hover {
  fill: #2196F3;
}

.mobile__container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  z-index: 99;
  background-color: #fff;
}

.mobile__menu {
  list-style-type: none;
  padding-left: 0;
}

.mobile__list {
  padding-bottom: 32px;
}

.mobile__list-studio, .mobile__list-portfolio, .mobile__list-contact {
  text-decoration: none;
  font-size: 34px;
  color: #212121;
  font-weight: 500;
}

.mobile__list-studio:hover, .mobile__list-portfolio:hover, .mobile__list-contact:hover {
  color: #2196F3;
}

.mobile__email, .mobile__phone {
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 32px;
}

.mobile__phone {
  color: #2196F3;
  font-size: 34px;
}

.mobile__email {
  color: #757575;
  font-size: 24px;
}

.mobile__social {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  padding-left: 0;
}

.mobile__social-instagram, .mobile__social-twitter, .mobile__social-facebook, .mobile__social-linkedin {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #2196F3;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #757575;
}

.mobile__social-instagram {
  padding-left: 0;
}

.mobile__social-linkedin {
  border-right: none;
}

.mobile__button {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 8px;
  right: 8px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.mobile__button-close {
  width: 19px;
  height: 19px;
}

.mobile__button-close:hover {
  fill: #2196F3;
}

.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=index.css.map */