$bg-main-color: #fff;
$bg-request-color: #2f303a;
$gb-team-color: #F5F4FA;
$bg-footer-color: #2F303A;
$bg-social-icon: rgba(255, 255, 255, 0.1);
$gallery-border-color: #EEEEEE;
$blue-color: #2196F3;
$black-color: #212121;
$white-color: #fff;
$gray-color: #757575;
$brightgray-color: #AFB1B8;
$darkgray: #2F303A;
$standard-line-height: 1.38;
$standard-letter-spacing: 0.03;